< !DOCTYPE html><html><head><title>Align-Images</title><style>* {
    margin-left: 7px;
    /* box-sizing: border-box; */
}

h1 {
    text-align: center;
    color: green;
    font-weight: bolder;
}

p {
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bolder;
}

.column {
    float: left;
    width: 30%;
    height: 30%;
}

</style></head><body><h1>Hello GeeksForGeeks ! Images Side by Side </h1><p>GeeksforGeeks present side-by-side images with the CSS float property: </p><div class="column"><img src="qq2.png" style="width: 80%;"></div><div class="column"><img src="qq2.png"
style="width: 80%;"></div><div class="column"><img src="qq2.png" style="width: 80%;"></div></body></html>